.principal {

    .ls{
        position: absolute;
        top: 10%;
        left: 35%;
        right: 35%;
        width: 30%;
        height: 50%;
    }
    .Perfiles{
        position: absolute;
        top: 50%;
        left: 75%;
        right: 75%;
        width: 30%;
        height: 80%;
    }
}